.register {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: rgb(193, 190, 255);
    align-items: center;
    justify-content: center;
}

.card {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    min-height: 600px;
    overflow: hidden;
}

.reg-right {
   flex: 1;
   background: linear-gradient(rgba(39, 11, 96, 0.5), rgba(39,11, 96, 0.5)), url('https://cdn.pixabay.com/photo/2019/01/16/17/26/beach-3936382_960_720.jpg') center;
   background-size: cover;
   padding: 50px;
   display: flex;
   flex-direction: column;
   gap: 30px;
   color: white;
}

.reg-right h1 {
    font-size: 70px;
    line-height: 100px;
}

.reg-right span {
    font-size: 14px;
}

.reg-right button {
    width: 50%;
    background-color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    color: purple;
    font-weight: bold;
    cursor: pointer;

}

.reg-left {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
}

.reg-left h1 {
    color: #555;
}

.reg-left form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.reg-left input {
    border: none;
    border-bottom: 1px solid lightgrey;
    padding: 20px 10px;
}

.reg-left button {
    background-color: purple;
    width: 50%;
    padding: 10px;
    color: white;
    border: none;
}

